<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Se connecter</h2>
        
        <!-- Affichage des messages flash (par exemple, pour les erreurs ou succès) -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-primary mt-3">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        <!-- Formulaire de connexion -->
        <form action="{{ url_for('main.login_user') }}" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        
        <p class="mt-3">Pas encore de compte ? <a href="{{ url_for('main.register_user') }}">Créer un compte</a></p>
    </div>
    
    <!-- Optionnel : Ajouter des scripts de Bootstrap pour améliorer l'expérience utilisateur -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
