<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un utilisateur</title>
</head>
<body>
    <h1>Créer un nouvel utilisateur</h1>

    {% if success %}
        <p style="color: green;">L'utilisateur a été créé avec succès !</p>
    {% elif error %}
        <p style="color: red;">Une erreur est survenue : {{ data.error }}</p>
    {% endif %}

    <form action="/register" method="POST">
        <div>
            <label for="username">username :</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="role">Role:</label>
            <input type="role" id="role" name="role" required>
        </div>

        

        <div>
            <button type="submit">Créer l'utilisateur</button>
        </div>
    </form>

</body>
</html>
